<div class="container" ng-controller="TimelineCtrl">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">{{application}} {{task}} timeline analysis</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-sm-12">
			<button class="btn btn-default" type="button">
				<span class="badge">{{earliest | date:'dd-M-yyyy H:mm:ss'}}</span> > time > <span class="badge">{{latest | date:'dd-M-yyyy H:mm:ss'}}</span>
			</button>
			<button class="btn btn-default" type="button">
				<span class="badge">{{rtAbove}}</span> > response time > <span class="badge">{{rtBelow}}</span>
			</button>
			<nav>
				<ul class="pager">
					<li class="previous {{disablePrevious}}"><a href="#{{prevUrl}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
					<li>{{sequenceId}} of {{lastId}}</li>
					<li class="next {{disableLast}}"><a href="#{{nextUrl}}">Next <span aria-hidden="true">&rarr;</span></a></li>
				</ul>
			</nav>
			<div >
				<div google-chart chart="chart" style="width: 700px; height: 400px;"></div>
			</div>
		</div>
	</div>
</div>
