<div  ng-controller="MeasureApplicationCtrl">
	<div class="row">
    	<div class="col-lg-12">
        	<h1 class="page-header">{{application}} measurement</h1>
    	</div>
	</div>
    <div class="row">
        
        <stats apdex="0.99" apdexrating="EXCELLENT" colour="blue" type="comments"></stats>
        <stats apdex="0.93" apdexrating="GOOD" colour="green" type="user"></stats>
        <stats apdex="0.84" apdexrating="FAIR" colour="orange" type="shopping-cart"></stats>
        <stats apdex="0.60" apdexrating="POOR" colour="red" type="support"></stats>
        <stats apdex="0.40" apdexrating="UNACCEPTABLE" colour="gray" type="support"></stats>

    </div>	
	<div class="row">
	    <div class="col-lg-12 col-sm-12" id="line-chart">
	        <div class="panel panel-default">
	            <div class="panel-heading">APDEX timechart</div>
	            <div class="panel-body">
	                <highchart id="chart1" config="multiApdexTimechart"></highchart>
	            </div>
	        </div>
	    </div>
<div/>
